/**
 * 首页样式
 * @author liuguisheng
 * @date 2019-11-6
 * 
*/

section hr {
  margin-top: 33px;
}
section h1 {
    color: $--color-icon-text;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 8px;
    line-height: 38px;
    font-size: 28px;
  }
  section h2,
  section h3,
  section h4,
  section h5,
  section h6 {
    margin: 1.6em 0 0.6em;
    font-weight: 600;
    clear: both;
    font-size: 24px;
    color: $--color-icon-text;
  }
  section h3 {
    font-size: 18px;
  }
  section h4 {
    font-size: 16px;
  }
  section h5 {
    font-size: 14px;
  }
  section h6 {
    font-size: 12px;
  }
  section p,
  section pre {
    font-size: 14px;
    color: #5e6d82;
    line-height: 1.5em;
  }
  section ul > li > p,
  section ol > li > p {
    margin: 0.2em 0;
  }
  section ul {
    padding: 0;
    margin: 0;
  }
  section ul > li {
    list-style-type: none;
    padding-top: 15px;
    color: $--color-icon-text;
  }
  section ol > li {
    list-style-type: none;
    padding-top: 15px;
    color: $--color-icon-text;

  }
  section > table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #ebedf0;
    width: 100%;
    margin: 8px 0 16px;
  }
  section > table th,
  section > table td {
    color: #314659;
    border: 1px solid #ebedf0;
    text-align: left;
    padding: 10px 15px;
  }
  section > table th {
    white-space: nowrap;
    color: #5c6b77;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.02);
  }
  section strong,
  section b {
    font-weight: 500;
  }
  section .sh-markdown-permalink {
    opacity: 0;
  }
  section h1:hover .sh-markdown-permalink,
  section h2:hover .sh-markdown-permalink,
  section h3:hover .sh-markdown-permalink,
  section h4:hover .sh-markdown-permalink,
  section h5:hover .sh-markdown-permalink,
  section h6:hover .sh-markdown-permalink {
    opacity: 1;
    display: inline-block;
  }
  section > br,
  section p > br {
    clear: both;
  }
  section blockquote {
    font-size: 90%;
    color: #0d1a26;
    border-left: 4px solid #ebedf0;
    padding-left: 0.8em;
    margin: 1em 0;
  }
  section blockquote p {
    margin: 0;
  }
  section hr {
    height: 1px;
    border: 0;
    background: #ebedf0;
    clear: both;
  }
  section code {
    font-family: Microsoft YaHei;
    margin: 0 1px;
    border-radius: 3px;
    font-size: 0.9em;
    color: #5c5c5c;
    font-size: 14px;
  }
  section .language-html {
    width: 100%;
    padding: 10px 25px 10px 10px;
    box-sizing: border-box;
  }
  section pre {
    line-height: 2.8em;
    background-color #f7f7f7;
    padding-left: 20px;
  }
  section p {
    line-height: 2em;
    font-size: 15px;
  }
  section .language-shell {
    font-size: 13px;
    background: $--color-primary;
    width: 100%;
    display: inline-block;
    color: #fff;
  }
  